<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-3 col-xs-12">

            <div class="tab-content">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <td>Company</td>
                        <td>Position</td>
                        <td>Period</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="entity in $ctrl.items">
                        <td>{{ entity.company }}</td>
                        <td>{{ entity.position }}</td>
                        <td>{{ entity.dateFrom|date }} - {{ entity.dateTo|date }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>