<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-3 col-xs-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="{active: $ctrl.params.id}" ng-show="$ctrl.params.id">
                    <a href="#presentation" aria-controls="presentation" role="tab" data-toggle="tab">
                        View
                    </a>
                </li>
                <li role="presentation" ng-class="{active: $ctrl.params.id == ''}">
                    <a href="#editor" aria-controls="editor" role="tab" data-toggle="tab">
                        Editor
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" ng-class="{active: $ctrl.params.id}" id="presentation">
                    <div class="page-header">
                        <h1>
                            <a ng-href="{{ $ctrl.entity.url }}">{{ $ctrl.entity.name }}</a>
                        </h1>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" ng-class="{active: $ctrl.params.id == ''}" id="editor">
                    <form name="mediaForm" ng-submit="$ctrl.update()" role="form">
                        <div class="form-group required" ng-class="{ 'has-error': mediaForm.name.$touched && mediaForm.name.$invalid }">
                            <input type="text"
                                   ng-model="$ctrl.entity.name"
                                   id="name"
                                   name="name"
                                   class="form-control"
                                   placeholder="Name"
                                   required
                                   autofocus>
                            <validator form="$ctrl.form" field="name" model="$ctrl.entity.name" errors="$ctrl.errors"></validator>
                        </div>
                        <div class="form-group required" ng-class="{ 'has-error': mediaForm.url.$touched && mediaForm.url.$invalid }">
                            <input type="url"
                                   ng-model="$ctrl.entity.url"
                                   id="url"
                                   name="url"
                                   class="form-control"
                                   placeholder="URL"
                                   required>
                            <validator form="$ctrl.form" field="url" model="$ctrl.entity.url" errors="$ctrl.errors"></validator>
                        </div>
                        <div class="form-group required" ng-class="{ 'has-error': mediaForm.url.$touched && mediaForm.url.$invalid }">
                            <select name="icon"
                                    id="icon"
                                    class="form-control"
                                    ng-model="$ctrl.entity.icon"
                                    required>
                                <option ng-repeat="option in $ctrl.icons" value="{{option.id}}">{{option.name}}</option>
                            </select>
                            <validator form="$ctrl.form" field="icon" model="$ctrl.entity.icon" errors="$ctrl.errors"></validator>
                        </div>

                        <button
                                ng-disabled="mediaForm.$invalid"
                                class="btn btn-lg btn-primary"
                                data-backdrop="static"
                                data-keyboard="false"
                                type="submit">
                            Update
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>